# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml

# Package Files #
*.war
*.ear
/target
.factorypath
.vscode
/node_modules
package-lock.json
.fleet
